[DEFAULT]
builder = debuild ${debuild_options} --prepend-path='/usr/lib/ccache' --preserve-envvar='CCACHE_*' --no-sign ${dpkg_buildpackage_options}
upstream-branch = upstream/latest
debian-branch = ubuntu/kinetic
pristine-tar = True

[buildpackage]
export-dir = ${export_directory}
ignore-new = True
compression-level = best
notify = auto
dist = kinetic
purge = False

[import-orig]
filter = [ 'debian/*', '*/debian/*' ]
filter-pristine-tar = True

[import-dsc]
filter = [ '.gitignore' ]
